swagger: "2.0"
info:
  description: "Conversation API"
  version: "1.0.1"
  title: "Conversation"
host: "zaun.katalabs.io"
basePath: "/"
schemes:
- "https"
paths:
  /bots/{botId}/converse:
    post:
      summary: "Converse"
      description: "Send a message to bot and retrieve response"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "botId"
        in: "path"
        description: "Kata bot id configured when initializing bot"
        required: true
        type: "string"
      - in: "body"
        name: "converse"
        description: "Conversation object"
        schema:
          type: object
          required:
            - message
          properties:
            message:
              type: "object"
              properties:
                content:
                  type: "string"
                  description: "Content to send for the bot"
                  example: "halo"
                type:
                  type: "string"
                  description: "Type of content that can be text or button"
                  example: "text"
                  enum:
                    - text
                    - button
            sessionId:
              type: "string"
            dataKey:
              type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            properties: {}
      security:
      - Bearer: []
securityDefinitions:
  Bearer:
    type: "apiKey"
    name: "Authorization"
    in: "header"
